<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baitiwb303_hw_f20_c">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FirstTheme">
        <activity android:name=".activity.ui.dr.InstructorEditActivity"></activity>
        <activity android:name=".activity.ui.dr.InstructorDetailsActivity" />
        <activity android:name=".activity.ui.course.CourseEditActivity" />
        <activity android:name=".activity.ui.course.CourseDetailsActivity" />
        <activity android:name=".activity.ui.section.SectionEditActivity" />
        <activity android:name=".activity.ui.section.SectionDetailsActivity" />
        <activity android:name=".activity.ui.student.StudentEditActivity" />
        <activity android:name=".activity.ui.student.StudentDetailsActivity" />
        <activity android:name=".activity.ui.SettingActivity" />
        <activity android:name=".activity.ui.dr.CreateDrActivity" />
        <activity android:name=".activity.ui.course.CreateCourseActivity" />
        <activity android:name=".activity.ui.section.CreateSectionActivity" />
        <activity android:name=".activity.ui.student.CreateStudentActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/FirstTheme" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>